<p>こんにちは！ <%= @resource.email %>さん! libra運営です。</p>

<p>以下のリンクをクリックした後に開く入力フォームからパスワードを変更出来ます。</p>

<p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p>もし心当たりが無い場合はこのメールを無視してください。</p>

<p>【libra】</p>